.button {
  cursor: pointer;
}

.graphite {
  background-color: #6D7278;
  transition-duration: 0.3s;
}

.amber {
  background-color: rgba(250, 100, 0, 0.8);
  transition-duration: 0.3s;
}

.graphite:hover {
  background-color: #5d6268;
}

.amber:hover {
  background-color: #FA6400;
}