body {
  background-color: #5B5D60;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}


.wrapper {
  display: grid;
  grid-template-areas:  "area-1 area-1 area-1 area-1"
                        "area-1 area-1 area-1 area-1"
                        "area-2 area-3 area-4 area-5"
                        "area-6 area-7 area-8 area-9"
                        "area-10 area-11 area-12 area-13"
                        "area-14 area-15 area-16 area-17"
                        "area-18 area-18 area-19 area-20";

  grid-template-rows: 75px 75px repeat(5, 50px);
  grid-template-columns: repeat(4, 1fr);
  border-radius: 100px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);

  color: #fff;
  font-size: 24px;
}


.element-1 {
  grid-area: area-1;
  border-radius: 15px 15px 0 0;
}

.element-2 {
  grid-area: area-2;
}

.element-3 {
  grid-area: area-3;
}

.element-4 {
  grid-area: area-4;
}

.element-5 {
  grid-area: area-5;
}

.element-6 {
  grid-area: area-6;
}

.element-7 {
  grid-area: area-7;
}

.element-8 {
  grid-area: area-8;
}

.element-9 {
  grid-area: area-9;
}

.element-10 {
  grid-area: area-10;
}

.element-11 {
  grid-area: area-11;
}

.element-12 {
  grid-area: area-12;
}

.element-13 {
  grid-area: area-13;
}

.element-14 {
  grid-area: area-14;
}

.element-15 {
  grid-area: area-15;
}

.element-16 {
  grid-area: area-16;
}

.element-17 {
  grid-area: area-17;
}

.element-18 {
  grid-area: area-18;
  border-radius: 0 0 0 15px;
}

.element-19 {
  grid-area: area-19;
}

.element-20 {
  grid-area: area-20;
  border-radius: 0 0 15px 0;
}